USE [master]
GO
/****** Object:  Database [tinhtiendien]    Script Date: 4/18/2021 8:00:51 PM ******/
CREATE DATABASE [tinhtiendien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tinhtiendien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\tinhtiendien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tinhtiendien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\tinhtiendien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tinhtiendien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tinhtiendien]
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 4/18/2021 8:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[Madk] [varchar](8) NOT NULL,
	[Mahd] [varchar](10) NOT NULL,
	[Dntt] [int] NOT NULL,
	[Dongia] [money] NOT NULL,
	[Ngaythanhlap] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Madk] ASC,
	[Mahd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIENKE]    Script Date: 4/18/2021 8:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIENKE](
	[Madk] [varchar](8) NOT NULL,
	[Makh] [varchar](30) NOT NULL,
	[Ngaysx] [datetime] NOT NULL,
	[Ngaylap] [datetime] NOT NULL,
	[Mota] [nvarchar](100) NOT NULL,
	[Trangthai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Madk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIADIEN]    Script Date: 4/18/2021 8:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIADIEN](
	[Mabac] [int] IDENTITY(1,1) NOT NULL,
	[Tenbac] [nvarchar](255) NOT NULL,
	[Tusokw] [int] NOT NULL,
	[Densokw] [int] NOT NULL,
	[Dongia] [money] NOT NULL,
	[Ngaythanhlap] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Mabac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/18/2021 8:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[Mahd] [varchar](10) NOT NULL,
	[Ky] [nvarchar](7) NOT NULL,
	[Tungay] [datetime] NOT NULL,
	[Denngay] [datetime] NOT NULL,
	[Chisodau] [int] NOT NULL,
	[Chisocuoi] [int] NOT NULL,
	[Tongthanhtien] [money] NOT NULL,
	[Ngaylaphd] [datetime] NOT NULL,
	[Tinhtrang] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Mahd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHANHHANG]    Script Date: 4/18/2021 8:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHANHHANG](
	[Makh] [varchar](30) NOT NULL,
	[Tenkh] [nvarchar](255) NOT NULL,
	[Diachi] [nvarchar](100) NOT NULL,
	[Dienthoai] [int] NOT NULL,
	[CMND] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Makh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FKCTHOADON521844] FOREIGN KEY([Madk])
REFERENCES [dbo].[DIENKE] ([Madk])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FKCTHOADON521844]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FKCTHOADON592401] FOREIGN KEY([Mahd])
REFERENCES [dbo].[HOADON] ([Mahd])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FKCTHOADON592401]
GO
ALTER TABLE [dbo].[DIENKE]  WITH CHECK ADD  CONSTRAINT [FKDIENKE282020] FOREIGN KEY([Makh])
REFERENCES [dbo].[KHANHHANG] ([Makh])
GO
ALTER TABLE [dbo].[DIENKE] CHECK CONSTRAINT [FKDIENKE282020]
GO
USE [master]
GO
