
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<div>
    <h4>Lê Văn Hiếu_DH51702718_D17-TH07</h4>
    <h4>Phạm Trung Tính_DH51704297_D17-TH07</h4>
    <h4>Nguyễn Thanh Ngân_DH51703779_D17-TH07</h4>
    <h4>Đỗ Hoàng Gia_DH51603691_D16-TH10</h4>
    <h4>Đặng Hoàng Trương_DH51701174_D17-TH07</h4>
</div>


